h1{
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    width: 450px;
}

body{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

button{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    height: 50px;
    width: 100px;
    margin-top: 20px;
}

h3{
    margin: 30px;
}

#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid red;
    padding: 10px;
    float: none;
    text-align: left;
}